extends layout

block content
	h1= title
	input(type="button", onclick="location.href='/newteam';", value="Add a Team")
	input(type="button", onclick="location.href='http://google.com';", value="Search for Team")
	input(type="button", onclick="location.href='http://google.com';", value="Generate List")
