extends layout

block content
	h1=title
	form(name="addteam", method="post", action="/addteam")
		| Team Number: 
		input(type="number", name="teamno")
		br
		| Team Name:
		input(type="text", name="teamname")
		br
		h2 Autonomous
		| # of balls shot: 
		input(type="number", name="autonballs")
		br
		| ball shot consistency (%): 
		input(type="number", max="100", name="autonballs100")
		br
		| # of beacons: 
		input(type="number", name="autonbeacons")
		br
		| beacon consistency (%): 
		input(type="number", max="100", name="autonbeacons100")
		br
		| Cap ball: 
		|Yes 
		input(type="radio", name="autoncap", value="yes")
		|No 
		input(type="radio", name="autoncap", value="no")
		br
		| Partial park: 
		|Yes 
		input(type="radio", name="autonpark", value="yes")
		|No 
		input(type="radio", name="autonpark", value="no")
		br
		| Average points scored: 
		input(type="number", name="autonavg")
		br
		| Overall consistency (%): 
		input(type="number", max="100", name="auton100")
		br
		h2 TeleOp
		p The robot can:
		| Shoot: 
		|Yes 
		input(type="radio", name="shoot", value="yes")
		|No 
		input(type="radio", name="shoot", value="no")
		br
		| Cap: 
		|Yes 
		input(type="radio", name="cap", value="yes")
		|No 
		input(type="radio", name="cap", value="no")
		br
		| Score Beacons: 
		|Yes 
		input(type="radio", name="beacons", value="yes")
		| No 
		input(type="radio", name="beacons", value="no")
		br
		| Score in corners: 
		|Yes 
		input(type="radio", name="corners", value="yes")
		|No 
		input(type="radio", name="corners", value="no")
		br
		| The robot's main focus is: 
		br
		| Shooting 
		input(type="radio", name="main", value="shooting")
		| 
		| Capping 
		input(type="radio", name="main", value="capping")
		| 
		| Beacons 
		input(type="radio", name="main", value="beaconsmain")
		| 
		| Corner Goals 
		input(type="radio", name="main", value="cornersmain")
		br
		| Avg # of balls shot in TeleOp: 
		input(type="number", name="ballsteleop")
		br
		| Consistency of Cap (%): 
		input(type="number", max="100", name="cap100")
		br
		| Average Score: 
		input(type="number", name="avg")
		h2 Scouter's Report
		p On a scale of 1-10, with 10 being the best, rate the below.
		| Autonomous performace: 
		input(type="number", min="1", max="10", name="autonrate")
		br
		| TeleOp peformance: 
		input(type="number", min="1", max="10", name="teleoprate")
		br
		| Shooting: 
		input(type="number", min="1", max="10", name="shotrate")
		br
		| Capping: 
		input(type="number", min="1", max="10", name="caprate")
		br
		| # of balls scored:
		input(type="number", name="scoreballs")
		p Any additional comments:
		textarea(name="comments", cols="50", rows="10")
		br
		br
		button(type="submit") Submit
