extends layout

block content
	h1=title
	form(name="addteam", method="post", action="/addteam")
		| Team Number: 
		input(type="number", name="teamno")
		br
		h2 Autonomous
		| Has autonomous: 
		input(type="checkbox", name="autonexist")
		br
		| # of balls shot: 
		input(type="number", name="autonballs")
		br
		| ball shot consistency (%): 
		input(type="number", max="100", name="autonballs100")
		br
		| # of beacons: 
		input(type="number", name="autonbeacons")
		br
		| beacon consistency (%): 
		input(type="number", max="100", name="autonbeacons100")
		br
		| Cap ball: 
		input(type="checkbox", name="autoncap")
		br
		| Partial park: 
		input(type="checkbox", name="autonpark")
		br
		| Average points scored: 
		input(type="number", name="autonavg")
		br
		| Overall consistency (%): 
		input(type="number", max="100", name="auton100")
		br
		h2 TeleOp
		The robot can:
		br
		| Shoot: 
		input(type="checkbox", name="shoot")
		br
		| Cap: 
		input(type="checkbox", name="cap")
		br
		| Score Beacons: 
		input(type="checkbox", name="beacons")
		br
		| Score in corners: 
		input(type="checkbox", name="corners")
		br
		| The robot's main focus is: 
		br
		| Shooting 
		input(type="radio", name="main", value="shooting")
		| 
		| Capping
		input(type="radio", name="main", value="capping")
		| 
		| Beacons
		input(type="radio", name="main", value="beaconsmain")
		| 
		| Corner Goals
		input(type="radio", name="main", value="cornersmain")
		br
		| Avg # of balls shot in TeleOp: 
		input(type="number", name="ballsteleop")
		br
		| Consistency of Cap (%): 
		input(type="number", max="100", name="cap100")
		br
		h2 Scouter's Report
		p On a scale of 1-10, with 10 being the best, rate the below.
		| Autonomous performace: 
		input(type="number", min="1", max="10", name="autonrate")
		br
		| TeleOp peformance: 
		input(type="number", min="1", max="10", name="teleoprate")
		br
		| Shooting: 
		input(type="number", min="1", max="10", name="shotrate")
		br
		| Capping: 
		input(type="number", min="1", max="10", name="caprate")
		br
		p Any additional comments:
		textarea(name="comments", cols="50", rows="10")
		br
		br
		button(type="submit") Submit
